<div id="mt-navbar" class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#" style="margin: 0 10px 0 0; padding: 0"><img alt="mytasq.com" src="img/logo32White.png"/></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <% if (session.user) { %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= session.user.email %><strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            <div id="userLogout" class="control-group">
                                <button type="submit" id="userLogoutSend" class="btn">Logout</button>
                            </div>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            <iframe id="userLoginDummyIframes" src="/dummy" name="userLoginDummyIframe" style="display: none;"></iframe>
                            <form action="/dummy" id="userLoginForm" class="form-inline" method="post" target="userLoginDummyIframe">
                                <div id="userLoginEmailCG" class="control-group error">
                                    <input name="email" id="userLoginEmail" type="text" class="input-medium" placeholder="Email">
                                </div>
                                <div id="userLoginPasswordCG" class="control-group error">
                                    <input name="password" id="userLoginPassword" type="password" class="input-medium" placeholder="Password">
                                </div>
                                <div class="control-group">
                                    <button type="submit" id="userLoginSend" class="btn">Sign in</button>
                                    <button class="btn" data-toggle="modal" data-target="#userRegister">Register</button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <ul class="nav">
                    <li class="active"><a id="new_task" href="#">New Task</a></li>
                    <li><a href="#about">Task</a></li>
                    <li><a href="#about">Team</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="mt-main-row" class="container-fluid" style="position: absolute; overflow: hidden; top: 60px; right: 0; bottom: 60px; left: 0;">
    <div class="row-fluid">
        <div id="mt-left-nav-container" class="well span3" >
            <ul id="mt-left-nav-viewport" class="nav nav-list" style="position:relative;">
                <li class="nav-header">Teams</li>
                <li class="active"><a href="#">Me</a></li>
                <li><a href="#">My personalities</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="nav-header">Recent tasks</li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
        <div id="mt-tasks-list-container" class="span7" style="position:relative; padding: 0 10px 0 10px;">
            <% if(tasks){ print(templates('tasks', {tasks:tasks})); }%>
        </div>
        <div id="mt-right-nav-container" class="mt-right-nav span2" style="position:relative;">
            <div class="row-fluid">
                <div class="span12">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mt-footer" style="overflow: hidden; position: absolute; right: 0; bottom: 0; left: 0; padding: 0 10px 0 10px;">
    <hr style="margin: 0px 0px 10px 0px;">
    <footer>
        <p>&copy; MyTasq.com 2013</p>
    </footer>
</div>

<div id="userRegister" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Registration</h3>
    </div>
    <div class="modal-body">
        <iframe id="userRegisterDummyIframes" src="/dummy" name="userRegisterDummyIframe" style="display: none;"></iframe>
        <form action="/dummy" method="post" target="userRegisterDummyIframe" id="userRegisterForm" class="form-horizontal">
            <div id="userRegisterEmailCG" class="control-group error">
                <label class="control-label" for="userRegisterEmail">Email</label>
                <div class="controls">
                    <input name="inputEmail" type="text" id="userRegisterEmail" placeholder="Email">
                </div>
            </div>
            <div id="userRegisterPasswordCG" class="control-group error">
                <label class="control-label" for="userRegisterPassword">Password</label>
                <div class="controls">
                    <input type="password" id="userRegisterPassword" placeholder="Password">
                </div>
            </div>
            <div id="userRegisterRePasswordCG" class="control-group error">
                <label class="control-label" for="userRegisterRePassword">Repeat password</label>
                <div class="controls">
                    <input type="password" id="userRegisterRePassword" placeholder="Repeat password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" id="userRegisterSend" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
