/* 
    Document   : mt
    Created on : Jun 7, 2013, 2:05:01 PM
    Author     : Matthias Danetzky <matthias.danetzky@gmail.com>
    Description:
        Global mytasq.com css
*/

/* reset outlines */
div { outline: 0; }
a { outline: 0; }
p { outline: 0; }
h1 { outline: 0; }
h2 { outline: 0; }
h3 { outline: 0; }
button { outline: none; }

/*a.dropdown-toggle { outline: none; }
a.dropdown { outline: none; }

@media (max-width: 767px) {
    #mt-right-nav-container{
        display: none !important;
    }
    #mt-left-nav-container{
        display: none !important;
    }
}*/

.mt-task-edit-mode { position: absolute; left: -10px; right: -10px; top: -10px; bottom: 0; background-color: #BCFABC; z-index: -1; border: 1px solid #74EE60; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.05); }
.mt-editor-toolbar { border: 1px solid #74EE60; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0,0,0,.05); }
.mt-task-text { margin: 3px 0 10px 0; }
.mt-task-text p { margin: 0; }
.mt-task-title { margin: 10px 0 0 0; line-height: 35px;}
.numberInCircle {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    float: right;
    display: inline-block;
    min-width: 12px;
    padding: 0px 4px 0px 4px;
    background: #DC143C;
    border: 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}