<div class="span12 mt-task" style="position: relative;min-height: 0; border-bottom: 1px solid #eeeeee;">
    <h3 class="mt-task-title mt-editable" style="<% if(task.done){%>color: #138808<%}%>"><%=task.title %></h3>
    <div class="mt-task-text mt-editable"><%=task.text %></div>
    <div class="mt-task-text-editor-toolbar-container" style="overflow: hidden; height: 0;">
        <div class="mt-task-text-editor-toolbar mt-editor-toolbar"></div>
    </div>
    <div class="mt-task-options" style="overflow: hidden; height: 0;">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button class="btn btn-default mt-task-new-task">New Task</button>
                <button class="btn btn-default">3</button>
                <button class="btn btn-default">4</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default">5</button>
                <button class="btn btn-default">6</button>
                <button class="btn btn-default">7</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default">8</button>
                <button class="btn btn-default mt-task-delete">Delete</button>
            </div>
        </div>
    </div>
    <div class="btn-toolbar mt-task-buttons" style="position: absolute; right: 0; bottom: 10px; display: none;">
        <div class="btn-group">
            <%if(!task.done){%><button class="btn btn-default mt-btn-task-done"><span class="glyphicon glyphicon-ok"></span></button><%}%>
        </div> 
    </div>
    <div class="mt-task-edit-mode" style="display:none;"></div>
</div>
<div>
    <div id="tasks-of-task-<%=task.id%>" class="mt-task-subtasks" style="padding-left: 5%;"></div>
</div>