<div class="span12 mt-task" style="position: relative;">
    <h2 class="mt-task-title mt-editable"><%=task.title %></h2>
    <div class="mt-task-text mt-editable"><%=task.text %></div>
    <div class="mt-task-text-editor-toolbar-container" style="overflow: hidden; height: 0;">
        <div class="mt-task-text-editor-toolbar mt-editor-toolbar"></div>
    </div>
    <div class="btn-toolbar" style="position: absolute; right: 0; bottom: 0; display: none;">
        <div class="btn-group" style="margin-bottom: 0;">
            <button class="btn mt-btn-task-done"><i class="icon-ok"></i></button>
            <button class="btn"><i class="icon-chevron-right"></i></button>
        </div> 
    </div>
    <div class="mt-task-edit-mode" style="display:none;"></div>
</div>